.repo, .reposList {
  list-style-type: none;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin: 5px auto;
  position: relative;
  text-align: center;
  /*text-decoration: none;*/
};

.submitUser {
  margin: 0 auto;
  /*text-align: center;*/
}
#handle {
  padding: 15px;
  width: 300px;
  max-width: 100%;
}

.submitUser label {
  padding: 15px;
}